/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid,
.fa-regular {
    color: var(--main-color);
}

.fa-duotone {
    color: #F2F2F2;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 1440px;
}

header {
    display: flex;
    Justify-content: space-between;
}

header img {
    height: 20px;
    margin-top: 30px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 45px;
    margin-right: 45px;
}

header nav ul li a {
    padding-top: 15px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.tagline h1 {
    margin-top: 35px;
    font-size: 24px;
}

.tagline p {
    margin-top: 5px;
    font-size: 17px;
    margin-bottom: 30px;
}

.search {
    Padding: 5px;
    display: flex;
    height: 49px;
}

.search i {
    border: 2px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    color: black;
    padding: 15px;
}

.search input {
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding-left: 15px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    width: 200px;
}

.search button {
    padding-right: 18px;
    padding-left: 18px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
}

.search button a {
    text-decoration: none;
    color: white;
}

.filters {
    display: flex;
    align-items: center;
}

.filters h2 {
    font-size: 17px;
}

.filters ul {
    padding: 0px;
    font-size: 17px;
    list-style: none;
}

.filters ul li {
    display: flex;
    display: inline-block;
    margin: 15px;
    padding: 13px;
    font-weight: bold;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filters ul :hover {
    background-color: #DEEBFF;
}

.filters ul li i {
    margin-right: 10px;
}

.info {
    padding-bottom: 35px;
}

.info i {
    display: inline-block;
    padding: 6px 9px 6px 9px;
    border-radius: 50px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
}

.info p {
    display: inline;
    font-size: 16px;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.usd {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 25px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    display: block;
}

.accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 30px;
}

.accommodation-cards .cards {
    border: 5px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    width: 250px;
    height: 213px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.accommodation h2 {
    padding: 0px;
    margin: 0px;
    font-size: 22px;
}

.accommodation a {
    text-decoration: none;
    color: black;

}

.accommodation-cards .cards img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.accommodation-cards .cards h3 {
    margin: 0px;
    font-size: 16px;
    padding-top: 7px;
}

.accommodation-cards .cards p {
    margin: 0px;
    font-size: 14px;
}

.accommodation-cards .cards div {
    font-size: 14px;
}

.accommodation-cards .cards .accommodation-text {
    height: 75px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.accommodation h4 {
    text-decoration: none;
    margin: 0px;
    color: black;
    font-size: 18px;
    padding-top: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-cards {
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding-top: 33px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards a {
    text-decoration: none;
    color: black;
}

.popular-cards .card {
    display: flex;
    /* margin-top: 33px; */
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/* activities-cards */

.activities {
    padding: 30px;
}

.activities-cards {
    display: flex;
    gap: 30px;
}

.activities-cards h2 {
    font-size: 22px;
    margin: 0px;
    padding-bottom: 30px;
    height: 22px;
}

.activities-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    width: 297px;
    object-fit: cover;
}

.activities-cards .cards {
    height: 445px;
    width: 297px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities-cards .cards h3 {
    margin: 0px;
    padding: 20px;
    font-size: 16px;
    color: black;
}

.activities-cards a {
    display: inline-block;
    text-decoration: none;
}

/* footer */

footer {
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
    height: 165px;
}

footer ul {
    padding: 20px;
    margin: 0px;
    list-style: none;
    flex: 3 1 auto;
}

footer ul li {
    display: flex;
    margin-bottom: 15px;
}

footer ul li h2 {
    font-size: 18px;
    margin: 0px;
}

footer ul li a {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    text-decoration: none;
    color: black
}

@media screen and (max-width: 1024px) {
    .filters {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 745px;
        justify-content: flex-start;
        display: inline;
    }

    .filters h2 {
        text-align: left;
        margin: 20px 0;
    }

    .filters ul {
        display: flex;
        margin-top: 0;
        gap: 15px;
        margin-bottom: 35px;

    }

    .filters ul li {
        margin: 0;
    }
    
    .accommodation-and-popular {
        flex-direction: column;
        gap: 50px;
    }

    .accommodation {
        width: 100%;
        padding-bottom: 50px;
        padding: 30px;
    }

    .accommodation-cards {
        gap: 30px;
        flex-wrap: wrap;
    }

    .accommodation-cards .cards {
        width: 265px;
    }

    .popular {
        width: 100%;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .popular-cards .card {
        width: 274px;
        box-sizing: border-box;
    }

    .activities-cards .cards {
        height: 270px;
        width: 193px;
    }

    .activities-cards img {
        width: 193px;
        height: 200px;
    }
}


/* TODO Add media query for mobile */
/* TODO Center Logo for Mobile Version using css media query (step 11) */
/* TODO Place Navigation tool below Logo for Mobile Version*/
/* TODO Hover effect for nav using mobile media query*/
/* TODO Add 50/50 split for nav using mobile media query*/


@media screen and (max-width: 768px) {
    body {
        background-color: olive;
    }
}